.container{
    width: 400px;
    height: 650px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: rgb(36, 35, 35);
    margin-top: 3%;
    margin-left: 37%;
    border-radius: 30px;
    border-top: 3px solid rgb(13 12 12);
    border-left: 5px solid rgb(13 12 12);
    border-bottom: 13px solid rgb(13 12 12);
    border-right: 13px solid rgb(13 12 12);
    box-shadow: 10px 5px 20px 5px black;
}
.screen{
    padding: 30px;
    font-size: 40px;
    background-color: rgb(182, 231, 113);
    text-align: right;
    border-radius: 10px;
    margin: 10px;
    margin-top: 40px;
    margin-left: 5px;
    
    


}
h1{
    color: white;

}
button{
    margin-left: 8px;
    border-top: 3px solid rgb(13 12 12);
    border-left: 7px solid rgb(13 12 12);
    border-bottom: 10px solid rgb(13 12 12);
    border-right: 10px solid rgb(13 12 12);
    background-color: rgb(36 35 35);
    color: white;
    border-radius: 9px;
    margin: 10px;
    font-weight: 850;
    font-size: 15px;
}
.row-1{
    display: block;
   
}
#row-1b{
    padding: 20px;
    margin-left:13px;
}
#row-1cb{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid rgb(255, 85, 85);
    border-left: 7px solid rgb(255, 85, 85);
    border-bottom: 10px solid rgb(146, 2, 2);
    border-right: 10px solid rgb(146, 2, 2);

    background-color: red;
    margin-left: 17px;
}
#row-1sb{
    
    padding: 20px;
    margin-left: 18px;
}
#row2b{
    padding: 20px;
    margin-left: 17px;
}
#row3b{
    display: inline;
    padding: 20px;
    margin-left: 17px;
}
#row3pb{
    padding: 20px;
    margin-right: 35px;
    padding-bottom: 105px;
    float: inline-end;
}
#row4b{
    
    padding: 20px;
    margin-left: 17px;
}
#row5b{
    
    padding: 20px;
    margin-left: 17px;
}

#row500b{
    
    padding: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 17px;
}
#row2mb{
    
    padding: 20px;
    margin-left: 18px;
} 
#row5eb{
    background-color: rgb(0, 123, 255);
    border-top: 3px solid rgb(94, 145, 255);
    border-left: 7px solid rgb(117, 161, 255);
    border-bottom: 10px solid rgb(0, 24, 76);
    border-right: 10px solid rgb(0, 19, 59);

    padding: 20px;
    margin-left: 18px;
}
.row-5{
    padding-bottom: 10px;
}
